
.row.authorItems__row {
    display: flex;
    flex-wrap: wrap;
}

.author__nftCard--container {
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
}

.de_tab_content {
    width: 25%;
}

.de_tab.tab_simple {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.author__nftCard {
    width: 100%;
}