
.row.authorItems__row {
    display: flex;
    flex-wrap: wrap;
}

.author__nftCard--container {
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
}

.de_tab_content {
    width: 25%;
    padding: 12px;
}

.de_tab.tab_simple {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.author__nftCard {
    width: 100%;
}

.author__skeleton--layout {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 12px;
}

@media (max-width: 576px) {
    .de_tab_content {
        max-width: 100%;
    }

    .de_tab.tab_simple {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 980px) {
    .de_tab_content {
        width: 50%;
        padding: 12px;
    }
}